.nagybetűs {
    text-transform: uppercase;
}


.abb {
    color: yellow;
}

* {
    background-color: #123476;
}

.picture img {
  display: block;
  margin: 0 auto;
  width: 775px;
  height: auto;
  border: 5px solid rgb(255, 0, 119);
}

.special {
    font-family: arcadeclassic;
    color: rgb(255, 95, 170);
    font-size: 20px;
}